<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <script>
    (function(){
      var socket = io();
      socket.on('received', function(msg){
        console.log(msg);
      });
    })();
  </script>
</body>
</html>
